<p style="color: green"><%= notice %></p>

<h1>Movietabs</h1>

<div id="movietabs">
  <% @movietabs.each do |movietab| %>
    <%= render movietab %>
    <p>
      <%= link_to "Show this movietab", movietab %>
    </p>
  <% end %>
</div>

<%= link_to "New movietab", new_movietab_path %>
