<h1>Movie Upload Page Table</h1>

<div id="movies">
  <div class="row">
    <div class="col-8">Movie Name</div>
    <div class="col-2">Movie Description</div>
    <div class="col-8">Movie Director</div>
    <div class="col-2">Movie Language</div>

  </div>


 
</div>